/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #009a88;
  /*color: #00c7af;*/
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;  
  text-align: center;
}


/* Custom page CSS
-------------------------------------------------- */

* {
    font-family: Lato, sans-serif;
}

#profile_image {
    width: 20em;
}

body {
    background-image: url("../images/bg-patterns/skulls.png");
    background-repeat: repeat;
    background-attachment: fixed;
}

#header * {
    color: #009a88;
    font-family: 'Anonymous Pro', cursive;
}

#header {
    color: #009a88;
}

.sm-card {
    max-width: 50em;
    margin: auto;
}

.med-card {
    max-width: 70em;
    margin: auto;
}

#navbar-items a {
    color: #009a88;
    transition: .5s;
}

#navbar-items a:hover {
    color: #00483f;
}

#twitter {
    text-align: center;
}

/* turn off text decoration */
.row > a {
    text-decoration: none;
    color: inherit;
}

/* fancy hover */
.col-xs-7:hover > * {
    transition:1s;
    background-color: #c9e9fd;
}

.col-xs-5:hover > * {
    transition:1s;
    background-color: #cffecc;
}

/* un hover */
.col-xs-5 > * {
    transition:1s;
}

.col-xs-7 > * {
    transition:1s;
}

/* light teal */
/*background-color: #8dfff2;*/

a > button{
    transition: 1s;
}

/* default bg colors */
* {
  border-radius: 0 !important;
}

/*.jumbotron, .panel-heading, list-group {
    background-color: #FBFFD0;
}

.navbar, .footer, .panel, .list-group-item {
    background-color: #FBFDE5;
}*/

/* GENERAL */
a:hover {
    text-decoration: none;
}

html {
    margin-top: 7em;
}

/* PROJECTS */
.project a:hover {
    transition: .5s;
}

.project a {
    transition: .5s;
}

.project .panel-heading:hover{
    text-decoration: none;
    background-color: #FBFFD0;
    transition: .5s;
}

.project .panel-heading{
    transition: .5s;
}

/* widen container */
@media (min-width: 40em) {
    .container{
        max-width: 1970px;
    }
}

/*.project {
  min-width: 40em;
}*/