<div class="privpol">
    <div class="jumbotron">
        <h1>GMIT Catering Privacy Policy</h1>
    </div>
    <div class="panel">
        <article>
            <section>
                <h1>Personal info</h1>
                <p>We collect your Full Name, Email Address, Phone Number, Student G Number and Password through the signup form. This information is needed to verify you before making orders. It may also be used for spreading any information such as deals or events via text or email.</p>
                <h3>Children</h3>
                <p>This app is open for use by all ages.</p>
                <p>There is no nudity, violance or profanity within the application.</p>
                <p>Orders are placed through prepaid credit so no access to actual money is involved.</p>
            </section>
            <section>
                <h1>How we collect info</h1>
                <p>We collect the information needed through the signup form on the initial application page.</p>
                <h3>Tracking technologies</h3>
                <p>There is no tracking technologies within the application.</p>
            </section>
            <section>
                <h1>How we use your info</h1>
                <p>We use your information in order to verify that you are indeed you.</p>
                <p>We use your information for sending out information related to deals or events via text or email.</p>
            </section>
            <section>
                <h1>When we share your info</h1>
                <p>We will never share your information with third parties.</p>
                <h3>Our Partners</h3>
                <p>We have no partners. GMIT Catering is the whole holder of any and all information collected from you.</p>
                <h3>Legal process</h3>
                <p>If you wish to know what information about yourself that we have, then you can make a request to cateringco@gmit.ie</p>
            </section>
            <section>
                <h1>How we store your info</h1>
                <p>We store your information in a MySQL database.</p>
                <h3>Where your info lives</h3>
                <p>Your information is in a server hosted by a third party.</p>
                <h3>How long we keep your info</h3>
                <p>We may keep your information indefinitely. Altough we usually wipe the database each year.</p>
            </section>
            <section>
                <h1>About</h1>
                <p>The GMIT Catering application is about helping customers pre-order their food, allowing them to skip queues.</p>
                <p> It also helps us the GMIT Catering Company gain greater brand awareness and a way to reach out to our customers.</p>
                <h3>Your choices</h3>
                <p>We only collect the data we need and we use it in a way that benefits you, the user.</p>
                <h3>Changes</h3>
                <p>If there are any changes to the privacy policy, an email will be sent to all users.</p>
                <h3>Contact us</h3>
                <p>If you have any questions feel free to send us an email at cateringco@gmit.ie</p>
            </section>
        </article>
    </div>
</div>
