<div class="jumbotron" id="header">
    <h1>Ronan Connolly</h1>
    <p class="lead">
        <img src="images/me_round.png" alt="I'm Ronan" id="profile_image">
        <br>
        <br> Software Developer | Web Designer | Polymath
    </p>
    <!--<p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>-->
</div>

<div class="jumbotron">
    <p>Hello! I'm Ronan.
        <br> I created this website as an aggregator for my many online profiles, presences and personalities.</p>
</div>

<div class="panel panel-default">
    <div class="panel-heading">A brief synopsis </div>
    <ul class="list-group">
        <li class="list-group-item">I grew up in Leitrim/Sligo.</li>
        <li class="list-group-item">I moved to Galway.</li>
        <li class="list-group-item">I cycle a lot, for fun and function.</li>
        <li class="list-group-item">I really like mexican and Italian food, burritos are my kryptonite.</li>
        <li class="list-group-item">I studied business for two years.</li>
        <li class="list-group-item">I worked for a year as an assistant manager.</li>
        <li class="list-group-item">I am currently in my fourth/final year studying software development in GMIT.</li>
        <li class="list-group-item">I am starting work in IBM as an Angular/Node/Java developer in June.</li>
        <li class="list-group-item">I always take on too many projects.</li>
        <li class="list-group-item">I tweet a lot, more for myself then others.</li>
        <li class="list-group-item">I have a love for a broad range of things.</li>
    </ul>
</div>