<div class="jumbotron" id="header">
    <h1>Ronan Connolly</h1>
    <p class="lead">
        <img src="images/me_round.png" alt="I'm Ronan" id="profile_image" class="img-responsive center-block img-circle">
        <br>
        <br> Software Developer | Web Designer | Polymath
    </p>
    <!--<p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>-->
</div>

<br><br>

<div class="jumbotron">
    <p>Hello! I'm Ronan.
        <br> I created this website as an aggregator for my many online profiles, presences and personalities.</p>
    <br>
    <p>I'm currently studying/working in the West of Ireland (Galway).</p>
</div>

<br> <br>

<div class="panel panel-default">
    <div class="panel-heading">A brief synopsis </div>
    <ul class="list-group">
        <li class="list-group-item">I grew up in Leitrim/Sligo.</li>
        <li class="list-group-item">I moved to Galway.</li>
        <li class="list-group-item">I cycle a lot, for fun and function.</li>
        <li class="list-group-item">I really like mexican and Italian food, burritos are my kryptonite.</li>
        <li class="list-group-item">I studied business for two years.</li>
        <li class="list-group-item">I worked for a year as an assistant manager.</li>
        <li class="list-group-item">I am currently in my fourth/final year studying software development in GMIT.</li>
        <li class="list-group-item">I am starting work in IBM as an Angular/Node/Java developer in June.</li>
        <li class="list-group-item">I always take on too many projects.</li>
        <li class="list-group-item">I tweet a lot, more for myself then others.</li>
        <li class="list-group-item">I have a love for a broad range of things.</li>
    </ul>
</div>

<div class="row">
    <a href="https://ie.linkedin.com/in/ronanconnolly/" target="_blank">
        <div class="col-xs-7">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-linkedin-square"></i>&emsp;LinkedIn</h3></div>
                <div class="panel-body">
                    All work, education, certificates and recommendations can be found here.
                </div>
            </div>

        </div>
    </a>

    <a href="https://github.com/ronanc" target="_blank">
        <div class="col-xs-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-github"></i>&emsp;GitHub</h3></div>
                <div class="panel-body">
                    All my software projects are up here, I'm a very active user.'
                </div>
            </div>
        </div>
    </a>
</div>

<div class="row">
    <a href="https://twitter.com/RonanDConnolly" target="_blank">
        <div class="col-xs-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-twitter"></i>&emsp;Twitter</h3></div>
                <div class="panel-body">
                    If you ever want to know what I'm up to, then check this out.
                </div>
            </div>
        </div>
    </a>

    <a href="https://roncontech.wordpress.com/" target="_blank">
        <div class="col-xs-7">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-pencil-square-o"></i>&emsp;Blog</h3></div>
                <div class="panel-body">
                    I write the occasional blog post every few months.
                </div>
            </div>
        </div>
    </a>
</div>

<div class="row">
    <a href="http://instagram.com/ronnyconn" target="_blank">
        <div class="col-xs-7">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-instagram"></i>&emsp;Instagram</h3></div>
                <div class="panel-body">
                    I spam my account with photos a few times a year.
                </div>
            </div>
        </div>
    </a>

    <a href="https://www.flickr.com/photos/128928518@N02/albums" target="_blank">
        <div class="col-xs-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-flickr"></i>&emsp;Flickr</h3></div>
                <div class="panel-body">
                    Events and trips abroad in full quality.
                </div>
            </div>
        </div>
    </a>
</div>

<div class="row">
    <a href="http://pastebin.com/u/jaxter91#" target="_blank">
        <div class="col-xs-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-trash"></i>&emsp;PasteBin</h3></div>
                <div class="panel-body">
                    Code snippets, when github is just a bit too much.
                </div>
            </div>
        </div>
    </a>

    <a href="http://stackoverflow.com/users/2052295/ronanc" target="_blank">
        <div class="col-xs-7">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-stack-overflow"></i>&emsp;StackOverflow</h3></div>
                <div class="panel-body">
                    I hope to become a more active user over time.
                </div>
            </div>
        </div>
    </a>
</div>

<a href="mailto:hi@ronanconnolly.ie" target="_blank">
    <button type="button" class="btn btn-default btn-lg col-xs-12">
        <span aria-hidden="true"></span> Email Me
        <!--class="glyphicon glyphicon-email"-->
    </button>
</a>

<br>
<br>
<br>