<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">&emsp;GMIT Catering App</h3></div>
            <div class="panel-body">
                <p>
                    For my final year project me and a fellow class mate created a food ordering system for our college (
                    <a href="http://www.gmit.ie" target="_blank">GMIT</a>). </p>
                <p> I had to learn many new languages and frameworks including Javascript, Angular and Ionic; as well as brush
                    up on my HTML/CSS skills.
                </p>

                <p>I created the front end Ionic application. It's published on the <a href="https://play.google.com/store/apps/details?id=ie.gmit.gmitcatering2015&hl=en"
                    target="_blank">Android</a> and <a href="https://itunes.apple.com/ie/app/gmit-catering/id1054850061?mt=8"
                    target="_blank">iOS</a> store</p>

                <p>
                    My colleague created the backend in PHP with ZendFramework 2.
                </p>

                <img src="images/portfolio/gmit-catering-ss.jpeg" class="img-responsive center-block" alt="GMIT Catering Screen Shot" width="250em">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">&emsp;GMIT Hackathon</h3></div>
            <div class="panel-body">
                <p>
                    I organised a hackathon for our college (<a href="http://gmithackathon.xyz/" target="_blank">GMIT Hackathon</a>)
                    three years in a row.
                    <br> I secured sponsorship from Microsoft, HP, Papa Johns, GMIT, Innovation Hubs and Bank of Ireland.
                </p>

                <p>
                    Collaborated with numorous people including volunteers, web designers, company officials, lecturers, facilities staff and
                    employees in the IT sector.
                </p>

                <p>
                    <a href="http://www.gmit.ie/gmit-student-hackathon">College Press release.</a>
                </p>

                <img src="images/portfolio/gmit-hackathon.jpg" class="img-responsive center-block" alt="GMIT Catering Screen Shot" width="250em">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">&emsp;Allsop App</h3></div>
            <div class="panel-body">
                <p>
                    A push notification enabled mobile application which displays information about the company and displays a real time list
                    of up coming auctions.
                    <br> A backend web app that allows employees to send push notifications and add/remove auctionss.
                </p>

                <p>
                    I created the front end with Ionic and published the app on the android and ios stores.
                    <br> I created the backend with Angular, Yeoman, PouchDB/CouchDB and Heroku.
                </p>

                <img src="images/portfolio/allsop.jpg" class="img-responsive center-block" alt="Allsop App Screen Shot" width="250em">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">&emsp;Gesture Controlled Robot</h3></div>
            <div class="panel-body">
                <p>
                    I created an Arduino robot with the Johnny-Five JS framework that is controlled via the Myo armband via gestures.
                </p>
                <br>
                <p>
                    Below I am testing out the motors with a Zoetrope project.
                </p>


                <!--<div class="embed-responsive embed-responsive-16by9 col-xs-12 text-center">-->
                <div class="embed-responsive embed-responsive-16by9 text-center">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/EMrSyQx4wYo" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">&emsp;Dodgy Spike</h3></div>
            <div class="panel-body">
                <p>
                    A Unity 2D Game that I created in C# and published to the <a href="https://play.google.com/store/apps/details?id=com.Roncon.DodgySpike&hl=en"
                    target="_blank">Android</a> and <a href="https://www.microsoft.com/en-us/store/apps/dodgy-spike/9nblgggzllwk"
                    target="_blank">Windows Phone</a> store.
                    <br>
                </p>
                <img src="images/portfolio/dodgy-spike-ss.jpg" class="img-responsive center-block" alt="Dodgy Spike Screen Shot" width="250em">
            </div>
        </div>
    </div>
</div>