<!-- 
To Add:
- Python Anagram Solver (flask)
- AI Game (path finding, fuzzy logic, game dynamics)
 -->
<div class="med-card" id="portfolio">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">GMIT Catering App</h3><small>April 2016</small></div>
                <div class="panel-body">
                    <ul>
                        <li>Ionic</li>
                        <li>JavaScript</li>
                        <li>AngularJS</li>
                        <li>Design</li>
                        <li>iOS</li>
                        <li>Android</li>
                        <li>Push Notification</li>
                    </ul>
                    <br>
                    <br>
                    <p>
                        For my final year project me and a fellow class mate created a food ordering system for our college (
                        <a href="http://www.gmit.ie" target="_blank">GMIT</a>). </p>
                    <p> I had to learn many new languages and frameworks including Javascript, Angular and Ionic; as well as brush up on my HTML/CSS skills.
                    </p>
                    <p>I created the front end Ionic application. It's published on the <a href="https://play.google.com/store/apps/details?id=ie.gmit.gmitcatering2015&hl=en" target="_blank">Android</a> and <a href="https://itunes.apple.com/ie/app/gmit-catering/id1054850061?mt=8" target="_blank">iOS</a> store</p>
                    <p>
                        My colleague created the backend in PHP with ZendFramework 2.
                    </p>
                    <img src="images/portfolio/gmit-catering-ss.jpeg" class="img-responsive center-block" alt="GMIT Catering Screen Shot" width="250em">
                    <br>
                    <a href="https://play.google.com/store/apps/details?id=ie.gmit.gmitcatering2015&hl=en" target="_blank">Android</a>
                    <br>
                    <a href="https://itunes.apple.com/ie/app/gmit-catering/id1054850061?mt=8" target="_blank">iOS</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">GMIT Hackathon</h3> <small>November 2013, 2014, 2015</small></div>
                <div class="panel-body">
                    <!-- <small>Leadership, Communication, Organisation, Marketing, Promotion</small> -->
                    <ul>
                        <li>Leadership</li>
                        <li>Communication</li>
                        <li>Organisation</li>
                        <li>Marketing</li>
                        <li>Promotion</li>
                    </ul>
                    <br>
                    <br>
                    <p>
                        I organised a hackathon for our college (<a href="http://gmithackathon.xyz/" target="_blank">GMIT Hackathon</a>) three years in a row.
                        <br> I secured sponsorship from Microsoft, HP, Papa Johns, GMIT, Innovation Hubs and Bank of Ireland.
                    </p>
                    <p>
                        Collaborated with numorous people including volunteers, web designers, company officials, lecturers, facilities staff and employees in the IT sector.
                    </p>
                    <img src="images/portfolio/gmit-hackathon.jpg" class="img-responsive center-block" alt="GMIT Catering Screen Shot" width="250em">
                    <br>
                    <a target="_blank" href="http://www.gmit.ie/gmit-student-hackathon">College Press release</a>
                    <br>
                    <a target="_blank" href="https://flic.kr/s/aHsk6pP1oJ">Photo Gallery</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Allsop App</h3> <small>February 2016</small></div>
                <div class="panel-body">
                    <ul>
                        <li>Ionic</li>
                        <li>PouchDB</li>
                        <li>CouchDB</li>
                        <li>Cloudant</li>
                        <li>ExpressJS</li>
                        <li>NodeJS</li>
                        <li>AngularJS</li>
                        <li>Bootstrap</li>
                        <li>User Auth</li>
                        <li>Push</li>
                    </ul>
                    <br>
                    <br>
                    <p>
                        A push notification enabled mobile application which displays information about the company and displays a real time list of up coming auctions.
                        <br> A backend web app that allows employees to send push notifications and add/remove auctionss.
                    </p>
                    <p>
                        I created the front end with Ionic and published the app on the android and ios stores.
                        <br> I created the backend with Angular, Yeoman, PouchDB/CouchDB and Heroku.
                    </p>
                    <p>
                        I collaborated with two others on this project.
                    </p>
                    <br>
                    <h3>Mobile App:</h3>
                    <img src="images/portfolio/allsop.jpg" class="img-responsive center-block" alt="Allsop App Screen Shot" width="250em">
                    <br>
                    <h3>Web App:</h3>
                    <img src="images/portfolio/allsop_admin_portal.png" class="img-responsive center-block" alt="Allsop App Screen Shot" width="550em">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Gesture Controlled Robot</h3> <small>April 2016</small></div>
                <div class="panel-body">
                    <ul>
                        <li>C</li>
                        <li>Arduino</li>
                        <li>Johnny-Five</li>
                        <li>Electronics</li>
                        <li>Myo-Armband</li>
                    </ul>
                    <br>
                    <br>
                    <p>
                        I created an Arduino robot with the Johnny-Five JS framework that is controlled via the Myo armband via gestures.
                    </p>
                    <br>
                    <p>
                        Below I am testing out the motors with a Zoetrope project.
                    </p>
                    <!--<div class="embed-responsive embed-responsive-16by9 col-xs-12 text-center">-->
                    <div class="embed-responsive embed-responsive-16by9 col-xs-12 text-center">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/EMrSyQx4wYo" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Personal Website</h3> <small>February 2016</small></div>
                <div class="panel-body">
                    <ul>
                        <li>ExpressJS</li>
                        <li>AngularJS</li>
                        <li>NodeJS</li>
                        <li>Yeoman</li>
                        <li>Grunt</li>
                        <li>Bootstrap</li>
                        <li>Heroku</li>
                    </ul>
                    <br>
                    <br>
                    <p>
                        "This" very website you are on right now!
                        <br> I created this website as an aggrator for all my projects and other websites.
                        <br> Deployed to Heroku.
                        <br>
                    </p>
                    <!-- <img src="images/portfolio/dodgy-spike-ss.jpg" class="img-responsive center-block" alt="Dodgy Spike Screen Shot" width="250em"> -->
                    <br>
                    <a target="_blank" href="https://github.com/RonanC/personal-website">Source Code</a>.
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Prison Escape</h3> <small>December 2015</small></div>
                <div class="panel-body">
                    <ul>
                        <li>Unity</li>
                        <li>C#</li>
                        <li>Digital Art</li>
                        <li>Heroku</li>
                    </ul>
                    <br>
                    <br>
                    <p>
                        A Unity 2D Game that I created in C#.
                        <br> I created all the image assets myself.
                        <br>
                    </p>
                    <img src="https://github.com/RonanC/PrisonEscapeUnity/raw/master/Misc/Menu.png" class="img-responsive center-block" alt="Prison Escape Screen Shot" width="450em">
                    <br>
                    <a target="_blank" href="https://prisonescapehost.herokuapp.com/">Web App</a>
                    <br>
                    <a target="_blank" href="https://github.com/RonanC/PrisonEscapeUnity">Source Code</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Customer Insights</h3> <small>December 2015</small></div>
                <div class="panel-body">
                    <ul>
                        <li>MongoDB</li>
                        <li>ExpressJS</li>
                        <li>AngularJS</li>
                        <li>NodeJS</li>
                        <li>Data Analysis</li>
                        <li>Heroku</li>
                        <li>Digital Ocean</li>
                    </ul>
                    <br>
                    <br>
                    <p>
                        Myself and a fellow classmate went up to the AIB headquarters in Dublin for the <a target="_blank" href="https://www.aibdatahack.com/">AIB DataHack</a> competition, where we were to either create a mobile/web app or analyse big data.
                        <br> We decided to do both.
                        <br>
                    </p>
                    <img src="https://camo.githubusercontent.com/678723d872b383876a61ef9e3d14fae13136e231/68747470733a2f2f7777772e6969666c772e636f6d2f66696c65732f6173736574732f7072656c6f67696e2f696e7369676874616e616c797369732f696d616765732f4e657773616e64496e7369676874735f6865616465725f62616e6e65722e6a706567" class="img-responsive center-block" alt="Old Analysis Image" width="450em">
                    <br>
                    <a target="_blank" href="http://customer-insights.herokuapp.com/">Web App</a>
                    <br>
                    <a target="_blank" href="https://github.com/RonanC/customer-insights">Source Code (Front End)</a>
                    <br>
                    <a target="_blank" href="https://github.com/JohnMalmsteen/aib-datathon">Source Code (Back End)</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Encryption Program</h3> <small>December 2015</small></div>
                <div class="panel-body">
                    <ul>
                        <li>Java</li>
                        <li>RMI</li>
                        <li>Tomcat</li>
                        <li>Cryptography</li>
                        <li>Bootstrap</li>
                    </ul>
                    <br>
                    <br>
                    <p>
                        A Java Tomcat Web Server that connects via RMI to an encryption program that encrypts and decrypts data using the Vigenère Cipher.
                        <br> I created all aspects of this project. I used bootstrap for styling.
                        <br> Deployed to Digital Ocean.
                        <br>
                    </p>
                    <img src="https://github.com/RonanC/RMIEncryption/raw/master/misc-resources/cipher-header.jpg" class="img-responsive center-block" alt="Encryption Image" width="450em">
                    <br>
                    <!-- <a target="_blank" href="http://46.101.85.159:8080/CipherWebApp/index.jsp">Web App</a> -->
                    <a target="_blank" href="https://github.com/RonanC/RMIEncryption">Source Code (Java Encryption Program)</a>
                    <br>
                    <a target="_blank" href="https://github.com/RonanC/RmiCipherWebApp">Source Code (Web Server/App)</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Dodgy Spike</h3> <small>April 2015</small></div>
                <div class="panel-body">
                    <ul>
                        <li>Unity</li>
                        <li>C#</li>
                        <li>Digital Art</li>
                        <li>Android</li>
                    </ul>
                    <br>
                    <br>
                    <p>
                        A Unity 2D Game that I created in C# and published to the <a target="_blank" href="https://play.google.com/store/apps/details?id=com.Roncon.DodgySpike&hl=en">Android</a> and <a target="_blank" href="https://www.microsoft.com/en-us/store/apps/dodgy-spike/9nblgggzllwk">Windows Phone</a> store.
                        <br>
                    </p>
                    <img src="images/portfolio/dodgy-spike-ss.jpg" class="img-responsive center-block" alt="Dodgy Spike Screen Shot" width="250em">
                    <br>
                    <a target="_blank" href="https://github.com/RonanC/PrisonEscapeUnity">Source Code</a>
                </div>
            </div>
        </div>
    </div>
</div>
