<div class="med-card" id="portfolio">
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">View my website in your terminal</h3><small>27th January 2016</small></div>
        <div class="panel-body">
          <ul>
            <li>Terminal</li>
            <li>Hack</li>
          </ul>
          <br>
          <br>

          <p>
            You can view my entire website via your terminal (macOS, Linux) or via Powershell on windows. <br> Just paste this into your terminal:
          </p>

          <p class="posts-code-container">
              <span class="posts-code">ping </span>
              <span class="malicious">
                ; clear; echo 'Haha! You gave me access to your computer with sudo!';
                echo -ne 'h4cking ##                        (10%)\r';
                sleep 0.3;
                echo -ne 'h4cking ###                       (20%)\r';
                sleep 0.3;
                echo -ne 'h4cking #####                     (33%)\r';
                sleep 0.3;
                echo -ne 'h4cking #######                   (40%)\r';
                sleep 0.3;
                echo -ne 'h4cking ##########                (50%)\r';
                sleep 0.3;
                echo -ne 'h4cking #############             (66%)\r';
                sleep 0.3;
                echo -ne 'h4cking #####################     (99%)\r';
                sleep 0.3;
                echo -ne 'h4cking #######################   (100%)\r';
                echo -ne '\n';
                echo 'Hacking complete.';
                echo 'Use GUI interface using visual basic to track my IP'<br> ls
              </span>
              <span class="posts-code">ronanconnolly.ie -c 1</span>
          </p>

          <!--<img src="images/portfolio/gmit-catering-ss.jpeg" class="img-responsive center-block" alt="GMIT Catering Screen Shot" width="250em">-->
          <br>
          <br>
          <!--<a href="http://lifepluslinux.blogspot.co.uk/2017/01/look-before-you-paste-from-website-to.html" target="_blank">Source</a>-->
        </div>
      </div>
    </div>
  </div>