<div class="project">
        <div class="panel panel-default">
            <a href="http://www.webdevstarterpack.xyz/" target="_blank">
                <div class="panel-heading">
                    <h3 class="panel-title">&emsp;Web Dev Starter Pack</h3>
                </div>
            </a>
            <div class="panel-body">
                <p>
                    I created this website as a place to unify my web development learning experience.
                </p>

                <p>
                    Listed are my recommendations for various languages, books, frameworks, tips, magazines and people.
                </p>

                <img src="images/projects/webdevst.jpg" class="img-responsive center-block" alt="Web Dev Starter Pack Image" width="350em">
            </div>
        </div>
</div>