    <!-- Load custom Bootstrap template -->
<!--     <link rel="stylesheet" href="https://bootswatch.com/readable/bootstrap.min.css"> -->

  <div class="project">
        <div class="jumbotron specialjum">
            <h1>Web Dev Starter Pack</h1>
            <br>
            <p>Web development, it's all about that JavaScript.
                <br>
                <br> Once learned you can go onto frameworks like the ones involved with the MEAN stack.
                <br> Then you learn some tools like Git and how to use services like Heroku.
                <br> At this stage you check out reading material and find frameworks that help you do what you need to do.
                <br>
                <br> There is always something new and cool waiting around the corner.
                <br>
                <br>
                <small style="color:grey">For complete beginners, just check out the items with stars beside them.</small></p>
            <br>

            <!-- bootstrap columns -->
            <div class="row">
                <div class="col-md-3 display">
                    <h4>Favourite Code:</h4>
                    <ul>
                        <li>Web Dev</li>
                        <li>Java</li>
                        <li>Python</li>
                        <li>C</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <img src="images/projects/webdevst.jpg" class="img-rounded img-responsive"
                    alt="Designer Work Desk">
                </div>
                <div class="col-md-3">
                    <h4>Favourite Areas:</h4>
                    <ul>
                        <li>IoT</li>
                        <li>AI</li>
                        <li>Apps</li>
                        <li>Cloud</li>
                    </ul>
                </div>
            </div>

            <br>
            <br>
            <h2>Resources</h2>
            <h3>Tutorial sites:</h3>
            <p><a href="https://scotch.io">Scotch.io</a><small> nice short tutorials</small><img src="images/webdev/starO.png" alt="star"></p>
            <p><a href="https://www.codeschool.com/">Code School</a><small> expensive but top quality video courses</small>
                <img src="images/webdev/starO.png" alt="star"></p>
            <p><a href="https://www.codecademy.com/learn">Code Academy</a><small> free interactive courses</small></p>
            <p><a href="https://www.thenewboston.com/">The New Boston</a><small> video cast tutorials, the guy is very funny</small></p>

            <br>
            <h3>Articles</h3>
            <p><a href="https://www.smashingmagazine.com">Smashing Magazine</a><small> consistent quality material</small>
                <img src="images/webdev/starO.png" alt="star"></p>
            <p><a href="http://thenextweb.com/">The Next Web</a><small> international technology news, business & culture</small> 
            <br>

                <br>
                <h3>People</h3>
                <p><a href="http://chriscoyier.net/">Chris Coyier</a><small> huge influence in web dev design</small></p>
                <p><a href="http://www.paulirish.com/">Paul Irish</a><small> big influence in web dev code (part of the chrome team)</small></p>
                <p><a href="http://johnpapa.net/">John Papa</a><small> microsoft evangelist who has contributed to the angular/javascript and VSCode projects</small></p>

                <br>
                <h3>Books</h3>
                <p><a href="http://eloquentjavascript.net/" target="_blank">Eloquent JavaScript</a><small> the best place to learn JS</small>
                    <img src="images/webdev/starO.png" alt="star"></p>
                <p><a href="https://www.manning.com/books/getting-mean-with-mongo-express-angular-and-node" target="_blank">Getting Mean</a><small> covers all aspects of the MEAN stack</small></p>

                <br>
                <h3>Editors</h3>
                <p>Editors are usually either on the Text Editor or the IDE side of the spectrum.
                    <br> Text editors are super fast, keyboard centric and work alongside the commandline well.</p>
                <p>IDE's are cumbersome, more language specific and rely on wizards. However they have great auto-completion,
                    debugging and refactoring.</p>
                <br>
                <p>Both Text Editors and IDEs are great, you need to decide which you prefer, usually you will switch between
                    both depending.
                </p>
                <br>
                <p><a href="https://code.visualstudio.com/">Visual Studio Code</a> <small style="color:grey">new</small>
                    <img
                    src="images/webdev/starO.png" alt="star"></p>
                <p>This editor is in between a text editor and an IDE; it is more close to a text editor.
                    <br> This is due to the fact that it incorporates debugging, auto-completion and refactoring.</p>
                <br>
                <p><a href="http://www.sublimetext.com/">Sublime</a></p>
                <p>Sublime Text is a sophisticated text editor for code, markup and prose.
                    <br> You'll love the slick user interface, extraordinary features and amazing performance.</p>
                <br>
                <p><a href="https://www.jetbrains.com/webstorm/">WebStorm</a></p>
                <p>Fully fledged IDE with debugging and auto-completion.</p>
                <br>
                <p><a href="https://atom.io/">Atom</a> <small style="color:grey">new</small></p>
                <p>Github created this lovely editor.
                    <br>Make sure to install packages within it to get the best experience.</p>
                <br>
                <p><a href="http://brackets.io/">Brackets</a> <small style="color:grey">new</small></p>
                <p>Brackets is a lightweight, yet powerful, modern text editor.</p>
                <br>

                <br>
                <h3>Other</h3>
                <p><a href="http://getbootstrap.com/">Bootstrap</a><small> easy css styling and responsiveness</small></p>
                <p><a href="https://bootswatch.com/">Bootstrap Themes</a><small> right click on download button & copy link</small></p>
                <p><a href="http://ionicframework.com/">Ionic</a><small> cross platform mobile apps</small><img src="images/webdev/starO.png"
                    alt="star"></p>
                <p><a href="http://electron.atom.io/">Electron</a><small> cross platform desktop apps</small></p>
                <p><a href="http://stackoverflow.com/">Stack Overflow</a><small> Q&A forum</small></p>
                <p><a href="http://www.w3schools.com/">W3 Schools</a><small> code snippets and tutorials for everything web dev</small></p>
                <p><a href="https://education.github.com/pack">Github Student Pack</a><small> a bunch of free services</small>
                    <img src="images/webdev/starO.png" alt="star"></p>
                <p><a href="https://www.namecheap.com/">Namecheap</a><small> inexpensive, quick and easy domain registration</small>
                    <img src="images/webdev/starO.png" alt="star"></p>
                <br>
                <br>
                <h2>Information</h2>
                <h3><a href="https://git-scm.com/">Git</a></h3>
                <p>Git is a program you install. It allows you to save checkpoints as you code.
                    <br> This allows you to view the progress of a project and also 'roll' back to previous points in time in
                    case errors occur
                    <br> You can also 'push' your code up to a server like '<a href="https://github.com">Github</a>' for safe
                    keeping and so that others in the team can contribute.
                    <br> Alternatively you can push to a web server service like Heroku which will automatically deploy you application.
                    <br>
                    <br> When you install git on windows it installs 'git-bash', which is a mini bash shell for windows.
                    <br> Make sure to use this git-bash shell for all your web dev activities.</p>

                <br>
                <h3><a href="https://dashboard.heroku.com/">Heroku</a></h3>
                <p>Is a cloud Platform-as-a-Service (PaaS) that uses git to deploy web apps.
                    <br> It auto detects what kind of project you are pushing(uploading) to it.</p>

                <br>
                <h3><a href="http://www.linuxmint.com/">Linux Mint</a></h3>
                <p>The best version of Linux in my opinion (for a beginner) is Linux Mint Cinnamon.
                    <br> It was founded in Galway, it is based on Ubuntu (Ubuntu is based on Debian).
                    <br> The whole french Government use it.</p>

                <br>
                <h3>Linux Advantages over Windows</h3>
                <p>
                    <ul>
                        <li>Linux uses a Bash shell</li>
                        <li>Git is pre-installed</li>
                        <li>You can install Node via 'sudo apt-get install nodejs' rather then from an online installed</li>
                        <li>Most web dev tools are designed for unix based systems (Linux, OSX) first, so it works better</li>
                    </ul>
                </p>

                <br>
                <br>
                <h2><a href="http://mean.io/#!/">MEAN Stack</a></h2>
                <p>
                    A full stack of web development technologies that allows for one language, JavaScript, to be used throughout.
                </p>

                <br>
                <h3><a href="https://www.mongodb.org/">MongoDB</a></h3>
                <p>
                    JSON Database.
                    <br> Mongoose can be used if you need schemas.
                </p>

                <br>
                <h3><a href="http://expressjs.com/">Express</a></h3>
                <p>
                    Web development framework.
                    <br> Helps set up simple tasks quickly.
                    <br> Rest APIs are really easy to create.
                </p>

                <br>
                <h3><a href="https://angularjs.org/">AngularJS</a></h3>
                <p>A front end MVC style web app.
                    <br> It's now the first choice for front end JavaScript web apps.
                    <br> Before frameworks like angular were around JQuery was the main choice.
                    <br> Google are the main backers of this project, but for Angular Version 2 Microsoft is joining in.</p>

                <br>
                <h3><a href="https://nodejs.org/en/">Node</a></h3>
                <p>A web development platform.
                    <br> It's super fast, built on the Google V8 Engine (built for Chrome).
                    <br>
                    <br>
                    <a href="https://www.npmjs.com/">NPM</a> (Node Package Manager) comes with Node. With NPM you can install
                    Node packages from the command line with ease.
                    <br> For example this will install express in the current folder (for the current project):</p>
                <pre>> npm install express</pre>

                <br>
                <br>
                <h2>Cool Stuff</h2>
                <h3><a href="http://johnny-five.io/">Johnny Five</a></h3>
                <p>A JavaScript wrapper for hardware like Arduino.</p>

                <br>
                <br>
                <a href="https://github.com/RonanC#disqus_thread" class="btn btn-primary btn-lg">My Github   <i class="icon ion-social-github"></i></a>
        </div>

<!--         <div class="tweet">
            <a href="https://twitter.com/share" class="twitter-share-button" {count} data-url="http://www.webdevstarterpack.xyz/" data-text="Web Dev Starter Pack:"
            data-via="RonanDConnolly" data-size="large" data-hashtags="webdev">Tweet</a>
            <script>
                !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
            </script>


            <a href="https://twitter.com/RonanDConnolly" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @RonanDConnolly</a>
            <script>
                !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
            </script>
        </div> -->

        <br>
        <br>
        <br>
        <br>
        <!-- Discus comments  -->
        <div id="disqus_thread"></div>
        <script>
            /**
          * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
          * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
          */
          /*
          var disqus_config = function () {
          this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
          this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        */
        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');

        s.src = '//webdevstarterpack.disqus.com/embed.js';

        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
    </div>


    <!-- end of discus -->
    <script id="dsq-count-scr" src="//webdevstarterpack.disqus.com/count.js" async></script>

    <!-- live reload -->
    <!-- <script>
    document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] +
    ':35729/livereload.js?snipver=1"></' + 'script>')
  </script> -->